body{
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    height: 90vh;
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: auto;
}
.btn{
    padding: 10px;
    margin-left: 70px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#result{
    margin: 20px;
    font-size: 30px;
    margin-left: 50px;
}